.logout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../public/bg_image.png');
    background-attachment: fixed;  /* Make background img fixed */
    background-repeat: no-repeat;  /* Don't repeat the img */
    background-size: cover; /* Cover the entire screen */
    background-position: center;
  }

  .logout-box{
    background: rgba(255,255,255,0.15);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.075);
    padding: 40px;
    border-radius: 12px;
    margin-right: 69px;
    height: 60%;
    width: 29%;
    text-align: center;
    box-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logout-box h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
  }

  .logout-box p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
  }

  .logout-button {
    background-color: #e18c30;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 20vh;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #ff7700;
    box-shadow: 0px 0px 5px #ff9900;
  }