.available-services-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
}

.service-list {
    list-style-type: none;
    padding: 0;
}

.service-item {
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.service-item h2 {
    margin-top: 0;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.update-btn {
    background-color: #28a745;
}

.update-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.update-service-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 5px;
}

.plan-form {
    margin-bottom: 15px;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 5px;
}

.textarea {
    resize: vertical;
    width: 75%;
    background: transparent;
    color: white;
}

.add-plan-form {
    margin-top: 20px;
}

.save-btn {
    background-color: #007bff;
}

.save-btn:hover {
    background-color: #0056b3;
}

.add-btn {
    background-color: #28a745;
}

.add-btn:hover {
    background-color: #218838;
}
