/* .available-services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

/* AvailableServices.css */
.available-services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px; /* Add some space between the cards */
    width:100%;
}

.service-item {
    width: 300px; /* Adjust as needed */
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.button {
    margin-top: 10px;
}


.service-card {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 16px;
}

.service-card .button {
    align-self: center;
    margin:  0 20% 0 5%;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.service-card .delete-btn {
    background-color: #dc3545;
    margin: 0 5% 0 20%;
}


.service-list{
   width:100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.button:hover {
    opacity: 0.9;
}

.plan-form {
    margin-bottom: 10px;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
