/* CreateService.css */

.create-service-box {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.create-service-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

create-service-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.create-form-input,
.plan-type-select
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
    transition: border 0.3s ease;
    background-color: white;
}

.create-form-input:focus,
.plan-type-select:focus {
    border: 1px solid #007bff;
}

.plan-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.plan-box label {
    margin-right: 10px;
}

.plan-box select,
.plan-box input {
    margin-right: 10px;
}

/* button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
} */

.remove-plan, 
.add-plan {
    background-color: #007bff;
    margin-left: 10px;
    border-radius: 20px;

    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-plan:hover,
.add-plan {
    background-color: #0056b3;
}

.submit-service {
    margin-top: 10px;
    background-color: #28a745;
    border-radius: 20px;
    margin-left: 10px;

    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.submit-service:hover {
    background-color: #218838;
}


